/Java/AntProjects/InputOutput/nbproject/private/
/Java/AntProjects/InputOutput/build/
/Java/AntProjects/ControlFlowStatements/nbproject/private/
/Java/AntProjects/ControlFlowStatements/build/
/Java/AntProjects/helloWorld/nbproject/private/
/Java/AntProjects/helloWorld/build/
/Java/AntProjects/JavaApplication7/nbproject/private/
/Java/AntProjects/StringWrapper/nbproject/private/
/Java/AntProjects/ClassExample/nbproject/private/
/Java/AntProjects/ObjectOrientedDemo/nbproject/private/
/Java/AntProjects/ObjectOrientedDemo/build/
/Java/AntProjects/ObjectOrientedDemo/dist/
/Java/AntProjects/LiveCodingQ2/nbproject/private/
/Java/AntProjects/LiveCodingQ2/build/
/Java/AntProjects/LiveCodingQ2/dist/
/Java/AntProjects/MobileMoneyTransfer/nbproject/private/
/Java/AntProjects/PassVale/nbproject/private/
/Java/AntProjects/PassVale/build/
/Java/AntProjects/PassVale/dist/
/Java/AntProjects/E-MoneyTransferSystem/nbproject/private/